.service-container{
    width: 100%;
    background: whitesmoke;
    font-family:  'Bree Serif', sans-serif;
    margin: 0 auto;
    height: 700px;
}
.service-cont{
    width: 80%;
    margin: 0 auto;
}
.service-cont h1{
    padding: 150px 0 20px;
    text-align: center;
    /* margin: 20px 0; */
    color: rgb(52,152,219) ;
}
.serdiv{
    display: flex;
    width: 100%;
}
.serdiv1, .serdiv2{
    flex: 50%;
}
.serdiv2{
    padding-left: 30px;
    /* color: #043c7c ; */
    border-left: 1px solid #043c7c ;
}
.bord-sec{
    display: flex;
    gap: 3rem;
}
.ser-bord{
    width: 25%;
    height: 250px;
    margin-top: 3rem;
    /* transition: 10s ease-in; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #043c7c ;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@media screen and (max-width:1050px){
    .serdiv1{
        word-spacing: 10px;
    }
}
@media screen and (max-width:800px){
    .serdiv1 h2{
        font-size: 1.2rem;
    }
    .service-container{
        height: 600px;
    }
}
@media screen and (max-width:500px){
    .service-cont h1{
        font-size: 1.5rem;
    }
    .serdiv{
        display: flex;
        flex-direction: column;
    }
    .serdiv1 h2{
        font-size: 0.9rem;
    }
    .serdiv2{
        padding-left: 30px;
        /* color: #043c7c ; */
        border-left: 1px solid #043c7c ;
        margin-top: 30px;
        font-size: 0.9rem;
    }
    
}