.topdiv{
    position: fixed;
    position: absolute;
    z-index: 2;
    background-color: #49c02b;
    padding: 3px;
    width: 100%;
}
.topwidth{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.con-div, .social-div{
    display: flex;
    gap: 20px;
}
.loc-div{
    display: flex;
    gap: 10px;
}
.map-div{
    display: flex;
    gap: 5px;
    color: white;
}
@media screen and (max-width:800px){
    .topwidth h4{
        font-size: 12px;
    }
    
}
@media screen and (max-width:500px){
    .topdiv{
        height: 80px;
    }
    .topwidth{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .con-div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
}
@media screen and (max-width:250px){
    .topdiv{
        height: 100px;
    }
    .topwidth h4{
        font-size: 10px;
    }
    .loc-div{
        display: block;
    }
}
