.topdiv{
    position: fixed;
    position: absolute;
    z-index: 16;
    background-color: white;
    padding: 3px;
    width: 100%;
}
.topwidth{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.topdiv a{
    color:#152235
}
.con-div, .social-div{
    display: flex;
    gap: 20px;
}
.loc-div{
    display: flex;
    gap: 10px;
}
.map-div{
    display: flex;
    gap: 5px;
    color: #152235;
}
@media screen and (max-width:800px){
    .topdiv{
        display: none;
    }
    
}
