.gal-container{
    width: 100%;
    font-family:  'Bree Serif', sans-serif;
    /* margin: 0 auto; */
    height: 900px;
}
.gal-cont{
    width: 80%;
    margin: 0 auto ;
}
.gal-cont h1{
    text-align: center;
    color: #49c02b;
    padding: 150px 0 20px;
}
.img-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}
.img-cont{
    border: 1px solid rgb(52,152,219);
    width: 250px;
    height: 300px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}
.img-cont img{
    width: 250px;
    height: 300px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}